// Custom Variables
$primary : #493365;

@import '../bootstrap/scss/_functions';
@import '../bootstrap/scss/_variables';

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$custom-theme-colors: (
    "subscribed": $purple-100,
    "yellow": $yellow-500,
    "blue": $blue-800,
    "green": $green-600
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);


// Import Bootstrap
@import '../bootstrap/scss/bootstrap';

//

