/*CUSTOM CSS CODE HERE */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-in, .fade-in * {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hidden-with-fade-out {
  opacity: 0;
  transition: opacity 2s linear 1s;
}

.bg-change-transition {
  transition: background-color 2s ease;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:150px auto;
    margin-bottom: 100vh;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 1s linear infinite;
    transform: scale(2); /* Aumenta le dimensioni del loader senza modificare le proporzioni */
  }

  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #624a74, 24px 0 #ffffff;
    }
    66% {
      background: #624a74;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #624a74
    }
  }

  /* Custom Audio Player */

  .audio-player {
    --player-button-width: 3em;
    --sound-button-width: 2em;
    --space: .5em;
    width: 15rem;
    height: 15rem;
  }
  
  
  .timeline-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    touch-action: none; 
  }
  
  .timeline {
    -webkit-appearance: none;
    width: 100%;
    height: 2em;
    background-color: #c2b5d0;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(rgb(132, 89, 168), rgb(132, 89, 168));
    background-repeat: no-repeat;
    margin-right: var(--space);
    touch-action: none;
  }
  
  .timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: .5em;
    height: 3em;
    border: none;
    border-radius: .2em; 
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #3d3052;
  }
  
  .timeline::-moz-range-thumb {
    -webkit-appearance: none;
    width: .5em;
    height: 3em;
    border: none;
    border-radius: .2em;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #3d3052;
  }
  
  .timeline::-ms-thumb {
    -webkit-appearance: none;
    width: .5em;
    height: 2em;
    border: none;
    border-radius: .2em;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #3d3052;
  }
  
  .timeline::-webkit-slider-thumb:hover {
    background-color: #3d3052;
  }
  
  .timeline:hover::-webkit-slider-thumb {
    opacity: 1;
  }
  
  .timeline::-moz-range-thumb:hover {
    background-color: #3d3052;
  }
  
  .timeline:hover::-moz-range-thumb {
    opacity: 1;
  }
  
  .timeline::-ms-thumb:hover {
    background-color: #3d3052;
  }
  
  .timeline:hover::-ms-thumb {
    opacity: 1;
  }
  
  .timeline::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .timeline::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .timeline::-ms-track {
    box-shadow: none;
    border: none;
    background: transparent;
  }
  

  /* Safari Images max-height */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .cover-img {
      /* max-height: 30em; */
    }
  }